:root {
  --red: #ee5253;
  --red: hsl(360, 75%, 63%);
  --blue: #0abde3; //#54a0ff
  --orange: #ff9f43;
  --green: #10ac84;
  --pink: #f368e0;
  --purple: #5f27cd;

  --base-font-size: 20px;
  --space: 3.5rem;
  --content-width: 1080px;
  --radius: 5px;

  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--space: 1.5rem;
	}
}